# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
local.properties
*.jks
key.properties
.DS_Store

# library packages do not commit their lockfile
packages/*/pubspec.lock
